*
!.gitignore
!gameteststructures
!gameteststructures/data
!gameteststructures/data/fluidtank
!gameteststructures/data/fluidtank/structure
!gameteststructures/data/fluidtank/structure/*.snbt
!server.properties
